
<form class="container" [formGroup]="formGroupExpediente" (ngOnSubmit)="crearExpediente()" >

    <!-- nombre edad -->
    <div class="row mb-3">

        <div class="col-6">
            <label for="nombrePaciente" class="form-label"  >
                Nombre del paciente
            </label>
            <input type="text" class="form-control" required
            formControlName="nombrePacienteElement"
            >
        </div>

        <div class="col-6">
            <label for="nombrePaciente" class="form-label">
                Fecha de nacimiento
            </label>
            <input type="date" class="form-control"
            formControlName="fechaNacimientoElement">
        </div>

    </div>

    <!-- escolaridad y un diagnostico -->
    <div class="row mb-3">

        <div class="col-6">
            <div class="form-floating">
                <input 
                class="form-control" 
                name="select-escolaridad" 
                id="select-escolaridad"
                formControlName="escolaridadElement"
                />
                <label for="select-escolaridad" class="form-label">
                    Escolaridad
                </label>
            </div>
        </div>

        <div class="col-6">
            
            <div class="form-floating">
                <input
                type="text" 
                class="form-control" 
                name="select-diagnosticos" 
                id="select-diagnosticos"
                formControlName="diagnosticoElement"
                />

                <label for="select-dianosticos" class="form-label">
                    Diagnostico
                </label>

            </div>
        </div>

    </div>

    <div class="row mb-3">

        <!-- pattern="+[0-9]{2}[0-9]{10}" -->

        <div class="col-6">
            <label for="telefonoPaciente" class="form-label">
                Telefono
            </label>
            <input 
            type="tel" 
            class="form-control"
            placeholder="+52XXXXXXXXXX" 
            maxlength="13" 
            name="telefonoPaciente"
            formControlName="telefonoElement"
            >
        </div>

        <div class="col-6">
            <label for="telefonoEmergencia" class="form-label">
                Telefono de emergencia
            </label>
            <input 
            type="tel" 
            class="form-control"
            placeholder="+52XXXXXXXXXX" 
            maxlength="13" 
            name="telefonoEmergencia"
            formControlName="telefonoEmergenciaElement"
            >
        </div>

    </div>

    <div class="row mb-3">
        
        <div class="col">
            <h5>Tipo de vivienda</h5>
            <div class="form-check">
                <input
                class="form-check-input" 
                type="radio" 
                name="tipoViviendaElement" 
                id="radioViviendaLocal"
                formControlName="tipoViviendaElement"
                value="LOCAL"
                >
                <label for="radioVivienda" class="form-check-label">Local</label>
            </div>
            <div class="form-check">
                <input 
                class="form-check-input" 
                type="radio" 
                name="tipoViviendaElement" 
                id="radioViviendaForaneo"
                value="FORANEO"
                formControlName="tipoViviendaElement"
                >
                <label for="radioViviendaForaneo" class="form-check-label">Foraneo</label>
            </div>
        </div>
        
        
        <div class="col">
            <h5>Estado civil</h5>
            <div class="form-check">
                <input 
                class="form-check-input" 
                type="radio" 
                name="estadoCivilElement" 
                id="radioEstadoCivilCasado"
                formControlName="estadoCivilElement"
                value="CASADO"
                >
                <label for="radioEstadoCivilCasado" class="form-check-label">Casado</label>
            </div>
            <div class="form-check">
                <input 
                class="form-check-input"
                type="radio"
                name="estadoCivilElement"
                id="radioEstadoCivilSoltero"
                formControlName="estadoCivilElement"
                value="SOLTERO"
                >
                <label for="radioEstadoCivilSoltero" class="form-check-label">Soltero</label>
            </div>
        </div>

    </div>

    <div class="row mb-3">

        <div class="col-6">

            <div class="mb-3">
                <label for="textAreaMotivoConsulta" class="form-label">Motivo de la consulta</label>
                <textarea 
                name="textAreaMotivoConsulta" 
                id="textAreaMotivoConsulta" 
                class="form-control"
                formControlName="motivoDeConsultaElement"
                ></textarea>
            </div>

        </div>

        <!-- tabla de los familiares de confianza  -->
        <app-tabla class="col-6"
        tableName="familiaresConfianza"
        [columnNames]="atributosFamiliarDto"
        [informacionTabla]="listaFamiliaresConfianza"
        tableNameSpaces="Familiares de confianza"
        ></app-tabla>

    </div>

    <div class="row mb-3">

        <div class="col-6">
            <label for="antecedentes" class="form-label">
                Antecedentes
            </label>
            <input 
            type="text" 
            class="form-control" 
            name="antecedentes"
            formControlName="antecendentesElement"
            >
        </div>

        <div class="col-6">
            <label for="enfermedadPrevia" class="form-label">
                Enfermedad previa a la sesión
            </label>
            <input 
            type="text" 
            class="form-control" 
            name="enfermedadPrevia"
            formControlName="enfermedadPreviaSesion"
            >
        </div>

    </div>

    <div class="row mb-3">

        <div class="col-6">
            <label for="deseo" class="form-label">
                ¿Qué desea lograr con este proceso terapéutico?
            </label>
            <input 
            type="text" 
            class="form-control" 
            name="logroDeseadoElement"
            formControlName="logroDeseadoElement"
            >
        </div>

        <!-- tabla con los medicamentos -->
        <app-tabla class="col-6"
        tableName="medicamentos"
        [columnNames]="atributosMedicamentos"
        [informacionTabla]="listaMedicamentos"
        tableNameSpaces="Medicamentos"
        ></app-tabla>

    </div>

    <div class="row mb-3">
        <div class="col-6">
            <label for="preguntaMagica" class="form-label">
                Pregunta mágica
            </label>
            <input 
            type="text" 
            class="form-control" 
            name="preguntaMagica"
            formControlName="preguntaMagicaElement"
            >
        </div>
    </div>

    <div class="row mb-3">

        <!-- tabla con los integrantes del hogar  -->
        <app-tabla class="col"
        tableName="integrantesHogar"
        [columnNames]="atributosIntegrantesHogar"
        [informacionTabla]="listaIntegrantesHogar"
        tableNameSpaces="Integrantes del hogar"
        ></app-tabla>

    </div>

    <div class="row my-5">

        <div class="col d-flex justify-content-end">
            <a 
            class="btn btn-danger mx-3" 
            routerLink="gestionar">Cancelar</a>

            <button 
            class="btn btn-primary" 
            type="submit"
            (click)="decidirAccion()"
            >{{ accionActual }}</button>
        </div>

    </div>

</form>

