<div class="container-fluid">
    <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleados">
                    <td>{{ empleado.usuario }}</td>
                    <td>{{ empleado.token }}</td>
                    <td>{{ empleado.estado ? 'Activo' : 'Baja'}}</td>
                    <td>
                        <div class="d-flex justify-content-start flex-wrap gap-2">
                            <input type="button" class="btn btn-warning" value="Actualizar Credenciales" 
                            (click)="actualizarCredenciales(empleado)" [disabled]="!empleado.estado">
                            <input type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            value="Dar De Baja" [disabled]="!empleado.estado"
                            (click)="guardarEmpleadoSeleccionado(empleado)">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            ¿Seguro que desea dar de baja al empleado {{ empleadoSeleccionado?.usuario }}?
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Cerrar">
          <input type="button" class="btn btn-danger" value="Confimar"
          (click)="darDeBajaEmpleado(empleadoSeleccionado!)">
        </div>
      </div>
    </div>
  </div>
