<h3 class="mt-5 mb-4 text-center">REGISTRO DE CONSENTIMIENTO</h3>

<div class="container">
    <form class="row g-3 mb-3 align-items-center">
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Nombre del paciente" formControlName="nombrePacienteElement">
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary w-100">Buscar</button>
        </div>
    </form>

  <app-carta-paciente></app-carta-paciente>
  
</div>
