<div class="container">
  <div class="row">
  

    <!-- Aqui podria ir el logo de la empresa, pero se busca tener el logo de la persona -->
    <!-- asu como de un usuario -->
    <nav class="col-auto navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        
        <a class="navbar-brand" routerLink="">

          <i class="bi bi-person-circle" style="font-size: 4em;"></i>

        </a>

      </div>
    </nav>

  </div>

  <div class="row">
    <div class="col">

      <!-- Aqui van todos los link para la barra de navegacion lateral -->
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="gestion">Gestión Expedientes</a>
          <a class="nav-link active" aria-current="page" routerLink="sesion">Informacion consulta</a>
        </li>
      </ul>

    </div>
  </div>

</div>


