<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Sexo</th>
            <th scope="col">Edad</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Marcos Antonio Zazueta Ruiz</td>
            <td>M</td>
            <td>23</td>
            <td>
                <input type="button" value="Nueva Consulta">
                <input type="button" value="Modificar">
                <input type="button" value="Ver">
            </td>
        </tr>
    </tbody>
</table>
