<div class="container-fluid">
    <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>


                @for (paciente of pacientes; track paciente.id) {
                <tr>    
                    <td>{{ paciente.nombre }}</td>
                    <td>M</td>
                    <td>23</td>
                    <td>
                        <div class="d-flex justify-content-start flex-wrap gap-2">
                            <input type="button" class="btn btn-success" value="Nueva Consulta" (click)="nuevaConsulta(paciente)">
                            <input type="button" class="btn btn-warning" value="Modificar">
                            <!--<input type="button" class="btn btn-info" value="Ver">-->
                            <i class="bi bi-eye-fill btn btn-info" [routerLink]="['/sesiones', id]">Ver</i>
                        </div>
                    </td>
                </tr>

                }



            </tbody>
        </table>
    </div>
</div>