.textDetail{
    display: inline-block;
    max-width: 1000px;
    max-height: 100px;
    overflow: auto;
    
}
.contentStyle{
    border-style: groove;
    border-radius: 10px;
    border-color: #a5d8ff;
}