<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Informacion Consulta</title>
</head>

<body>
   
    <h2 class="mt-5 mb-4 pl-5">NUEVA SESION</h2>

    <form action="" [formGroup]="formularioPrincipal">

        <!--Sección para agregar problemas-->
        <div class="col-md-4 d-flex align-items-end mt-5">
            <h5>Problemas De La Sesión:</h5>
            <button type="button" class="btn btn-success" (click)="agregarProblema()">+ Agregar Problema</button>
        </div>

        <!-- Sección de problemas -->
        <div class="m-5" *ngFor="let problema of problemas.controls">
            <problema-component [problema]="problema"></problema-component>
        </div>
            
        
  
        <!-- Sección de notas -->
        <section class="mb-4 mt-5">
            <button type="button" class="btn btn-secondary">Ver notas médicas</button>
        </section>

        <!--Sección de evaluación general del paciente-->
        <section class="mid-bot">
            <div class="calificacion">
                <div>
                    <h5 for="Apariencia">Apariencia</h5>
                </div>
                <div>
                    <h5 for="Apariencia">Estado mental</h5>
                </div>
            </div>


            <div class="container-fluid">
                <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="fw-semibold">Vestimenta</th>
                                <th scope="col" class="fw-semibold">Nivel general de bienestar</th>
                                <th scope="col" class="fw-semibold">Arreglo personal</th>
                                <th scope="col" class="fw-semibold">Postura</th>
                                <th scope="col" class="fw-semibold">Contacto visual</th>
                                <th scope="col" class="fw-semibold">Habla y lenguaje</th>
                                <th scope="col" class="fw-semibold">Velocidad del habla</th>
                                <th scope="col" class="fw-semibold">Volumen de voz</th>
                                <th scope="col" class="fw-semibold">Articulación</th>
                                <th scope="col" class="fw-semibold">Coherencia</th>
                                <th scope="col" class="fw-semibold">Espontaneidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select name="Vestimenta" id="VestimentaID" class="form-select"
                                    [formControl]="vestimentaElement">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="NivelGeneralBienestar" id="NivelGeneralBienestarID"
                                        class="form-select"
                                        [formControl]="nivelGeneralBienestarElement"
                                        >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="ArregloPersonal" id="ArregloPersonalID" class="form-select"
                                    [formControl]="arregloPersonalElement"
                                    >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="Postura" id="PosturaID" class="form-select"
                                    [formControl]="posturaElement"
                                    >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="ContactoVisual" id="ContactoVisualID" class="form-select"
                                    [formControl]="contactoVisualElement"
                                    >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="HablaLenguaje" id="HablaLenguajeID" class="form-select"
                                    [formControl]="hablaLenguajeElement"
                                    >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="VelocidadHabla" id="VelocidadHablaID" class="form-select"
                                    [formControl]="velocidadHablaElement"
                                    >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="VolumenVoz" id="VolumenVozID" class="form-select"
                                    [formControl]="volumenVozElement"
                                    >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="Articulacion" id="ArticulacionID" class="form-select"
                                    [formControl]="articulacionElement"
                                    >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="Coherencia" id="CoherenciaID" class="form-select"
                                    [formControl]="coherenciaElement"
                                    >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="Espontaneidad" id="EspontaneidadID" class="form-select"
                                    [formControl]="espontaneidadElement"
                                    >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </section>

        <!--Sección para agregar comentarios-->
        <div class="col-md-4 d-flex align-items-end mt-5">
            <h5>Comentarios De La Sesión:</h5>
            <button type="button" class="btn btn-success" (click)="agregarComentario()">+ Agregar Comentario</button>
        </div>

        <!--Sección de comentarios-->
        <div class="m-5"  *ngFor="let comentario of comentarios.controls">

            <comentario-component [comentario]="comentario"></comentario-component>
            
        </div>
        
        <!--Sección comentario extra del psicólogo-->
        <div class="mb-3">
            <h5 for="comentario2" class="form-label" style="margin-top: 2%;">Comentarios extras del psicólogo</h5>
            <textarea id="comentario2" class="form-control" rows="4"
                placeholder="Escribe el comentario aquí"
                [formControl]="comentarioPsicologaElement"
                ></textarea>
        </div>

        <div class="botonTerminar">
            <button type="button" class="botonTerminar btn btn-primary" (click)="terminarSesion()">Terminar sesion</button>
        </div>
    </form>
 
    <!-- toast container para todos los mensajes de error -->
    <div class="bg-body-secondary">
        <div class="toast-container position-fixed top-0 end-0 p-3">

            @for (error of errores; track error.idComponente) {
            <app-mensaje-error 
            [title]="error.title" 
            [message]="error.message" 
            idComponente="{{error.idComponente}}"
            />
            }
        </div>
    </div>

</body>

</html>